.about_heading {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  margin: 3.5%;
  color: white;
}
.sub_heading {
  text-align: center;
  color: white;
}
.description {
  text-align: justify;
  color: white;
}
.login_cards {
  display: flex;
  text-align: center;
  justify-content: center;
}
.each_card {
  margin-left: 5%;
  margin-right: 5%;
}
@media only screen and (max-width: 770px) {
  .login_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about_heading {
    text-align: center;
  }
}
