@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.ownercont h1{
    text-align: center;
    /* margin-bottom: 3px;
    padding: 2px; */
}
.ownercont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:680px;
    
    
}
.ownercont .formcont{
    width:500px;
    height:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
    border-radius: 17px;
    color:white;
}
.ownerstyleinput  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.ownerstyleinput  input{
    width:400px;
    height: 38px;
    border:1px solid blue;
    border-radius: 6px;
    margin-top: 1rem;
    text-align: center;
    background-color: white;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color:rgb(19, 14, 14);
    
    
}
label{
    display: block;
    text-align: left;
}
.available{
    width:500px;
}
.available p{
    display: inline;
   text-align: center;
  
}
.additem{
    outline:none;
    border:1px solid white;
    color:white;
    padding: 7px;
    background-color: black;
    border-radius: 7px;
}
.somefunc{
    outline:none;
    border:1px solid white;
    color:white;
    padding: 7px;
    background-color: black;
    border-radius: 7px;
}
@media only screen and (max-width: 769px)
{
    .ownercont h1{
        text-align: center;
        margin: 3px;
        padding: 2px;
    }
    .ownerstyleinput  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} 
/* .available{
    width:500px;
    height: 38px;
    border:1px solid blue;
    border-radius: 6px;
    margin-top: 1rem;
    text-align: center;
    background-color: rgb(169, 191, 213);
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
} */
@media only screen and (max-width: 647px)
{
    .ownercont h1{
        text-align: center;
        margin: 3px;
        padding: 2px;
    }
    .ownerstyleinput  .itemprop input{
        width:320px;
        height: 38px;
        border:1px solid blue;
        border-radius: 6px;
        margin-top: 1rem;
        text-align: center;
        background-color: white;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
        color:rgb(138, 44, 44);
    }
    .ownerstyleinput  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .available{
        width:350px;
    }
    .ownercont .formcont{
        width:370px;
        height:600px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 10px;
        border-radius: 17px;
        color:white;
    }
} 
@media only screen and (max-width: 492px)
{
    .ownercont h1{
        text-align: center;
        margin: 3px;
        padding: 2px;
    }
    .ownerstyleinput  .itemprop input{
        width:270px;
        height: 38px;
        border:1px solid blue;
        border-radius: 6px;
        margin-top: 1rem;
        text-align: center;
        background-color: white;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
        color:rgb(138, 44, 44);
    }
    .ownerstyleinput  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .available{
        width:270px;
    }
    .ownercont .formcont{
        width:350px;
        height:600px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 10px;
        border-radius: 17px;
        color:white;
    }
} 
@media only screen and (max-width: 424px)
{
    .ownercont h1{
        text-align: center;
        margin: 3px;
        padding: 2px;
    }
    .ownerstyleinput  .itemprop input{
        width:270px;
        height: 38px;
        border:1px solid blue;
        border-radius: 6px;
        margin-top: 1rem;
        text-align: center;
        background-color: white;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
        color:rgb(138, 44, 44);
    }
    .ownerstyleinput  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .available{
        width:270px;
    }
    .ownercont .formcont{
        width:350px;
        height:600px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 10px;
        border-radius: 17px;
        color:white;
    }
} 
@media only screen and (max-width: 401px)
{
    .ownercont h1{
        text-align: center;
        margin: 3px;
        padding: 2px;
    }
    .ownerstyleinput  .itemprop input{
        width:250px;
        height: 38px;
        border:1px solid blue;
        border-radius: 6px;
        margin-top: 1rem;
        text-align: center;
        background-color: white;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
        color:rgb(138, 44, 44);
    }
    .ownerstyleinput  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .available{
        width:250px;
    }
    .ownercont .formcont{
        width:310px;
        height:600px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 10px;
        border-radius: 17px;
        color:white;
    }
} 
@media only screen and (max-width: 401px)
{
    .ownercont h1{
        text-align: center;
        margin: 3px;
        padding: 2px;
    }
    .ownerstyleinput  .itemprop input{
        width:230px;
        height: 38px;
        border:1px solid blue;
        border-radius: 6px;
        margin-top: 1rem;
        text-align: center;
        background-color: white;
        font-weight: 700;
        font-family: 'Ubuntu', sans-serif;
        color:rgb(138, 44, 44);
    }
    .ownerstyleinput  {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .available{
        width:250px;
    }
    .ownercont .formcont{
        width:270px;
        height:600px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 10px;
        border-radius: 17px;
        color:white;
    }
} 