@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.teamhead{
    text-align: center;
}
.teammem{
    margin-top: 5rem;
    /* background-image: linear-gradient(white,green); */
    z-index: 1;
}
.teammemcont{
    max-width: 1300px;
    margin: auto;
}
.teamflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teamflex p{
    font-family: 'Play', sans-serif;
}
.teamflex .passiontext p{
    font-family: 'Play', sans-serif;
}
.passiontext{
    text-align: center;    
}
.teammemcard {
    height:400px;
    width:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid blue;
    box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.75);
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    min-width: 1.5rem;
    padding: 10px;
    background-color: #c8c6f1;
}
/* .teammemcard .image */
/* .teammemcard .image {
    width:100%;
} */
.teammemcard img{
    margin-bottom: 10.22%;
    width: auto;
    height: 65%;
    border-radius: 50%;
}
.teamflex .passiontext p{
    font-size: 1.5rem;

}
/* .teammemcard :hover{
    transform: scale(1.03);
} */
/* .teammemcard :hover{
    transform: translateY(-30px);
} */
@media  only screen and (max-width:764px)
{
    .teamflex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teamflex .passiontext{
        text-align: center;
    }
    .columnrev{
        flex-direction: column-reverse;
    }
    .teammemcard img{
        width:auto;
        height: 250px;
    }
    .teammemcard img{
        margin-bottom: 2%;
        width: auto;
        height: 250px;
        border-radius: 50%;
    }
}
@media  only screen and (max-width:387.20px)
{
    .teamflex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teamflex .passiontext{
        text-align: center;
    }
    .teammemcard {
        height:400px;
        width:289px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:1px solid blue;
        box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.75);
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
        min-width: 1.5rem;
        margin-bottom: 5px;
        background-color: #6C63FF;
    }
    .columnrev{
        flex-direction: column-reverse;
    }
    .teammemcard img{
        margin-bottom: 2%;
        width: auto;
        height: 220px;
        border-radius: 50%;
    }

}
@media  only screen and (max-width:326.40px)
{   .teamhead{
    font-size: 1.2rem;
    }
    .teamflex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teamflex .passiontext{
        text-align: center;
    }
    .teammemcard {
        height:400px;
        width:240px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:1px solid blue;
        box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.75);
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
        min-width: 1.5rem;
    }
    .columnrev{
        flex-direction: column-reverse;
    }
    .teammemcard img{
        margin-bottom: 2%;
        width: auto;
        height: 220px;
        border-radius: 50%;
    }

}
.margright{
    margin-right: 7px;
}
a{
    text-decoration: none;
    color:black;
}