.about_heading {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  margin: 3.5%;
}
.sub_heading {
  text-align: center;
}
.description {
  text-align: justify;
}
.login_cards {
  display: flex;
  margin: auto;
  justify-content: center;
}
.each_card{
    margin-left: 5%;
    margin-right: 5%;
}
@media  only screen and (max-width:770px) {
  .login_cards{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .about_heading{
      text-align: center;
  }
  
}
